#park-footer {
  position: relative;
  font-family: var(--bs-font-serif);
}

#park-footer img {
  width: 100%;
  height: 300px;
  margin: 0;
}

#park-footer h3 {
  text-transform: uppercase;
}

.contact {
  position: absolute;
  top: 8px;
  left: 15px;
  font-size: large;
}