* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a:link,
a:visited {
  color: var(--bs-white);
  text-decoration: none;
}

a:hover {
  color: var(--bs-link-hover-color);
}

#main a {
  color: var(--bs-black);
}

svg {
  height: 25px;
  width: 25px;
}

body {
  font-family: var(--bs-body-font-family);
  font-size: 20px;
  margin: 0;
  background-color: var(--bs-white);
  color: var(--bs-black);
}

#main {
  padding: 15px;
  font-family: var(--bs-font-serif);
}