* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a:link,
a:visited {
  color: var(--bs-white);
  text-decoration: none;
}

a:hover {
  color: var(--bs-link-hover-color);
}

#main a {
  color: var(--bs-black);
}

svg {
  height: 25px;
  width: 25px;
}

body {
  font-family: var(--bs-body-font-family);
  font-size: 20px;
  margin: 0;
  background-color: var(--bs-white);
  color: var(--bs-black);
}

#main {
  padding: 15px;
  font-family: var(--bs-font-serif);
}

.global-header .icon {
  width: 20px;
  height: 20px;
}

.global-header__top {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-left: 10px;
}

.global-header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.global-header__right .search-icon {
  padding: 0 1rem;
  margin-top: 6px;
}

.global-nav {
  margin-left: 10px;
  max-height: 0;
  overflow: hidden;
  border-top: 1px solid #333;
  transition: all .5s;
}

.global-nav button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 1rem;
}

.global-nav svg {
  --icon-color: white;
}

.global-nav__toggle {
  color: white;
  gap: 5px;
  margin-right: 5px;
  font-size: 15px;
  text-transform: uppercase;
}

.global-nav-open {
  display: none;
  align-items: center;
}

.global-nav-closed {
  display: flex;
  align-items: center;
}

.global-nav__toggle[aria-expanded="true"] > .global-nav-open {
  display: flex;
}
.global-nav__toggle[aria-expanded="true"] > .global-nav-closed {
  display: none;
}

.global-nav.show {
  max-height: 1000px;
}

.global-nav ul {
  display: flex;
  align-items: center;
  height: 25px;
  list-style: none;
  z-index: 1;
  margin-right: 10px;
}

@media only screen and (min-width:630px) {
  .info {
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: stretch;
  }
  .info-card {
    padding: 10px;
    flex: 1;
    margin: 0 5px;
    flex-direction: column;
  }
  .info-card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }
}