/* Hero Banner */
.banner {
  display: grid;
  color: white;
}

.banner img {
  grid-column: 1/2;
  grid-row: 1/3;
  object-fit: cover;
  width: 100%;
  height: 350px;
}

.banner-information {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  align-items: center;
  background-color: var(--bs-border-color-translucent);
  padding: 10px;
}

.banner-title {
  font-size: xx-large;
  padding-left: 10px;
}

.banner-subtitle {
  flex: 0 0 150px;
  margin-left: 10px;
}

.park-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.park-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
}

.park-nav svg {
  height: 25px;
  width: 25px;
}

header {
  background-color: var(--bs-black);
}

.site-title {
  display: flex;
  align-items: center;
}
.site-title > span {
  font-size: 1rem;
  margin-left: 0.3em;
}

.logo {
  height: 0;
  width: 0;
  margin: 0.5em;
  display: inline-block;
  border-top: 34px solid var(--bs-light-green);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}