.alerts > ul {
    list-style-type: none;
    padding: 0;
}

.alert {
    display: flex;
    border-bottom: solid var(--bs-grey-3);
    border-width: 1px;
    gap: 20px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.alert h3 {
    font-size: 1.2em;
    margin: 0;
}

.alert p {
    margin: 0;
}

.alert > svg {
    height: 30px;
    width: 30px;
    flex: 0 0 auto;
    margin: 2px;
}

.visitor > details, .activities > details {
    border: 1px solid var(--bs-grey-3);
    padding: 10px;
}

.visitor > details > ul {
    list-style-type: none;
    padding: 0;
}

.visitor-center {
    border-bottom: 1px solid var(--bs-grey-3);
}

.visitor-center > h3 {
    font-size: 1.1em;
}

.activities > details > ul {
    line-height: 7px;
}