@media only screen and (min-width:630px) {
  .info {
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: stretch;
  }
  .info-card {
    padding: 10px;
    flex: 1;
    margin: 0 5px;
    flex-direction: column;
  }
  .info-card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }
}